body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 8px;
    height: auto;
    min-width: 250px;
    background-color: white;
}

.form .title {
    font-weight: 700;
    font-size: 1.25em;
}

.form .sep {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    height: 1px;
}

.form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid lightgray;
    transition: 0.5s;
    outline: none;
}

.form input[type=text]:focus {
    border: 1px solid #6f04f6;
}

.form input[type=button], input[type=submit], input[type=reset] {
    width: 100%;
    background-color: #6f04f6;
    border: none;
    color: white;
    padding: 12px 20px;
    margin-top: 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

.form input[type=reset] {
    background-color: orangered;
}

.form input[type=button] {
    background-color: darkred;
}

.form .header {
    align-self: flex-start;
    font-size: 0.8em;
    margin-top: 10px;
}

.form .avatar {
    align-self: center;
    border-radius: 50%;
    border: 2px solid #6f04f6;
    width: 30%;
    height: 30%;
    margin-top: 20px;
}

.form .name {
    margin-top: 20px;
}

.form .warning {
    font-weight: 700;
}

.form .collect-img {
    align-self: center;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.form .error {
    margin-top: 5px;
    color: red;
    font-size: .9em;
}

.message {
    text-align: center;
    font-size: 2em;
}

@media (pointer:none), (pointer:coarse) {
    .message {
        font-size: 4em;
    }
    .form {
        zoom: 1.9;
        -moz-transform: scale(1.9);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid orange;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: orange transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
